.login__button-save {
  margin-top: 100px;
  min-width: 450px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 29px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  padding: 29px 0;
  border-radius: 20px;
  cursor: pointer;
}

.login__button-save:hover {
  opacity: 0.6;
}

.login {
  position: absolute;
  top: 80px;
  left: 100px;
  padding-bottom: 40px;
}

.login__form {
  margin-top: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login__welcome {
  max-width: 450px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 39px;
  line-height: 35px;
  text-align: center;
  color: #ffc0Cb;
  margin: 0 auto;
}

.login__info {
  width: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 22px;
  padding: 0;
  color: #cccccc;
  border: none;
  padding-top: 35px;
  padding-left: 10PX;
  padding-bottom: 35px;
  margin-bottom: 30px;
  border-bottom: 2px solid #cccccc;
  box-sizing: border-box;
}

.login__paragraph {
  min-width: 450px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  padding-top: 15px;
  margin: 0;
}

.login__button-save_disabled {
  opacity: 0.7;
}

.cone {
  position: relative;
}




